@import "../../../styles/theme/mixins";

.contact {
  margin-bottom: 180px;

  @include desktop-small {
    margin-bottom: 140px;
  }

  @include tablet {
    margin-bottom: 80px;
  }

  @include mobile {
    margin-bottom: 20px;
  }

  h2 {
    margin-bottom: 15px;
  }

  &__block {
    padding: 75px;
    background:
      linear-gradient(180deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.05) 100%),
      url("../../../../public/assets/images/contacts_bg.svg") bottom right no-repeat;
    backdrop-filter: blur(32.8px);
    border-radius: 35px;
    border-top: 1px solid var(--border);
    border-left: 1px solid var(--border);
    background-size: 455px;

    @include desktop-small {
      padding: 50px;
    }

    @include mobile {
      padding: 45px 30px;
      background:
        linear-gradient(180deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.05) 100%),
        url("../../../../public/assets/images/contacts_bg_m.svg") top right no-repeat;
    }

    .description {
      font-size: 18px;
      line-height: 26px;
      margin: 0 0 40px;

      @include desktop-small {
        font-size: 14px;
        line-height: 21px;
        margin: 0 0 32px;
      }

      @include mobile {
        font-size: 14px;
        line-height: 21px;
        margin: 0 0 22px;
      }
    }

    &__socials {
      margin-bottom: 90px;

      @include desktop-small {
        margin-bottom: 60px;
      }

      @include mobile {
        margin-bottom: 50px;
      }
    }
  }
}