@import '../../assets/styles/mixins';

.main {

  .launch__btn {
    display: none;

    @include mobile {
      display: flex;
      margin-top: 32px;
    }
  }

  &__bg {
    background: url("../../assets/images/about-bg.svg") 43% 50px no-repeat;

    @include mobile {
      background: url("../../assets/images/about-bg.svg") 46% 35px no-repeat;
    }
  }

  &__top {
    &__wrap {
      margin-top: 20px;
      background: url("../../assets/images/top-img.svg") top right no-repeat;
      padding-bottom: 366px;

      @include desktop-small {
        background-size: 580px;
        padding-bottom: 210px;
      }

      @include mobile {
        padding: 0 15px 80px 15px;
        margin: 0 -15px;
        background-size: 423px;
        background-position: 94px 12px;
      }
    }

    &__info {
      padding: 20px 0 85px;
      @include mobile {
        padding: 10px 0 85px;
      }
    }

    h1 {
      margin: 0 0 20px;
      font-weight: 900;
      font-size: 64px;
      line-height: 110%;
      max-width: 690px;

      @include desktop-small {
        font-size: 48px;
        max-width: 530px;
      }

      @include mobile {
        font-size: 32px;
        line-height: 115%;
        max-width: 259px;
      }
    }
    &__logo {
      width: 287px;

      @include desktop-small {
        width: 230px;
      }

      @include mobile {
        width: 172px;
      }
    }

    &__bg {
      position: absolute;
      top: -80px;
      right: 0;
    }
  }

  &__about {
    margin-bottom: 220px;

    @include desktop-small {
      margin-bottom: 140px;
    }

    @include mobile {
      margin-bottom: 80px;
    }

    &__title {
      font-weight: 700;
      font-size: 64px;
      line-height: 64px;
      margin-bottom: 65px;

      @include desktop-small {
        font-size: 48px;
        line-height: 48px;
        margin-bottom: 40px;
      }

      @include mobile {
        font-size: 32px;
        line-height: 32px;
        margin-bottom: 30px;
      }
    }

    &__row {
      display: flex;
    }

    &__block {
      display: inline-flex;
      padding: 56px 88px;
      background: linear-gradient(180deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.05) 100%);
      backdrop-filter: blur(32.8px);
      border-radius: 35px;
      border-top: 1px solid var(--border);
      border-left: 1px solid var(--border);

      @include desktop-small {
        padding: 55px;
      }

      @include mobile {
        display: flex;
        flex-direction: column;
        padding: 30px;
      }

      img {
        @include desktop-small {
          max-width: 120px;
        }

        @include mobile {
          max-width: 60px;
        }
      }

      h4 {
        font-weight: 700;
        font-size: 34px;
        line-height: 38px;
        margin-top: 10px;
        margin-bottom: 25px;

        @include desktop-small {
          font-size: 26px;
          line-height: 26px;
        }

        @include mobile {
          font-size: 34px;
          margin-top: 30px;
          margin-bottom: 10px;
        }
      }

      p {
        font-size: 18px;
        line-height: 26px;

        @include desktop-small {
          font-size: 14px;
          line-height: 21px;
        }
      }

      &__info {
        margin-left: 75px;
        max-width: 408px;

        @include desktop-small {
          margin-left: 50px;
        }

        @include mobile {
          margin-left: 0;
        }
      }
    }

    //&__row {
    //  display: flex;
    //  margin: 0 -15px;
    //
    //  @include mobile {
    //    flex-direction: column;
    //  }
    //}
    //
    //&__block {
    //  display: flex;
    //  flex-direction: column;
    //  align-items: flex-start;
    //  margin: 0 15px;
    //  padding: 44px 49px;
    //  background: linear-gradient(180deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.05) 100%);
    //  backdrop-filter: blur(32.8px);
    //  border-radius: 35px;
    //  border-top: 1px solid var(--border);
    //  border-left: 1px solid var(--border);
    //
    //  @include desktop-small {
    //    padding: 44px 30px;
    //  }
    //
    //  @include mobile {
    //    padding: 30px;
    //    margin-bottom: 30px;
    //  }
    //
    //  img {
    //    max-height: 75px;
    //    margin-bottom: 40px;
    //
    //    @include desktop-small {
    //      max-height: 75px;
    //    }
    //
    //    @include mobile {
    //      max-height: 75px;
    //      margin-bottom: 10px;
    //    }
    //  }
    //
    //  h4 {
    //    font-weight: 700;
    //    font-size: 34px;
    //    line-height: 38px;
    //    margin-top: 10px;
    //    margin-bottom: 25px;
    //
    //    @include desktop-small {
    //      font-size: 26px;
    //      line-height: 26px;
    //    }
    //
    //    @include mobile {
    //      font-size: 32px;
    //      line-height: 38px;
    //      margin-top: 30px;
    //      margin-bottom: 10px;
    //    }
    //  }
    //
    //  p {
    //    font-size: 18px;
    //    line-height: 26px;
    //
    //    @include desktop-small {
    //      font-size: 14px;
    //      line-height: 21px;
    //    }
    //  }
    //
    //  &__info {
    //    max-width: 408px;
    //
    //    @include desktop-small {
    //      margin-left: 0;
    //    }
    //
    //    @include mobile {
    //      margin-left: 0;
    //    }
    //  }
    //}
  }

  &__why {
    margin-bottom: 165px;

    @include desktop-small {
      margin-bottom: 140px;
    }

    @include mobile {
      margin-bottom: 80px;
    }

    &__title {
      font-weight: 700;
      font-size: 64px;
      line-height: 64px;
      margin-bottom: 65px;

      @include desktop-small {
        font-size: 48px;
        line-height: 48px;
        margin-bottom: 40px;
      }

      @include mobile {
        font-size: 32px;
        line-height: 32px;
        margin-bottom: 30px;
      }
    }

    &__list {
      display: flex;
      flex-direction: column;

      &__item {
        padding: 40px 49px;
        display: flex;
        align-items: center;
        background: linear-gradient(180deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.05) 100%);
        backdrop-filter: blur(32.8px);
        border-radius: 76px;
        margin-bottom: 40px;
        border-top: 1px solid var(--border);
        border-left: 1px solid var(--border);

        @include desktop-small {
          padding: 30px 40px;
          margin-bottom: 30px;
        }

        @include mobile {
          padding: 20px 34px;
          margin-bottom: 24px;
          min-height: 48px;
        }

        &__img {
          display: flex;
          justify-content: center;
          max-width: 61px;
          margin-right: 68px;

          @include desktop-small {
            max-width: 51px;
            max-height: 32px;
            margin-right: 35px;
          }

          @include mobile {
            max-width: 40px;
            font-size: 32px;
            max-height: 28px;
            margin-right: 24px;
          }
        }

        p {
          margin: 0;
          font-weight: 700;
          font-size: 34px;
          line-height: 39px;

          @include desktop-small {
            font-size: 26px;
            line-height: 26px;
          }

          @include mobile {
            font-size: 20px;
            line-height: 24px;
          }
        }
      }
    }
  }

  &__contact {
    margin-bottom: 180px;

    @include desktop-small {
      margin-bottom: 140px;
    }

    @include mobile {
      margin-bottom: 80px;
    }

    &__block {
      padding: 75px;
      background:
        linear-gradient(180deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.05) 100%),
        url("../../assets/images/contacts_bg.svg") bottom right no-repeat;
      backdrop-filter: blur(32.8px);
      border-radius: 35px;
      border-top: 1px solid var(--border);
      border-left: 1px solid var(--border);

      @include desktop-small {
        padding: 50px;
      }

      @include mobile {
        padding: 45px 30px;
        background:
          linear-gradient(180deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.05) 100%),
          url("../../assets/images/contacts_bg_m.svg") top right no-repeat;
      }

      h2 {
        margin: 0 0 10px;
        font-weight: 700;
        font-size: 64px;

        @include desktop-small {
          font-size: 48px;
          line-height: 100%;
        }

        @include mobile {
          font-size: 30px;
          margin: 0 0 15px;
        }
      }

      p {
        font-size: 18px;
        line-height: 26px;
        margin: 0 0 40px;

        @include desktop-small {
          font-size: 14px;
          line-height: 21px;
          margin: 0 0 32px;
        }

        @include mobile {
          font-size: 14px;
          line-height: 21px;
          margin: 0 0 22px;
        }
      }

      &__socials {
        margin-bottom: 90px;

        @include desktop-small {
          margin-bottom: 60px;
        }

        @include mobile {
          margin-bottom: 50px;
        }
      }
    }
  }
}