@font-face {
    font-family: "icons";
    src: url("./icons.ttf?aee413dfe014c4d888c651fd03acfbb6") format("truetype"),
url("./icons.woff?aee413dfe014c4d888c651fd03acfbb6") format("woff"),
url("./icons.woff2?aee413dfe014c4d888c651fd03acfbb6") format("woff2");
}

i[class^="icon-"]:before, i[class*=" icon-"]:before {
    font-family: icons !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-telegram:before {
    content: "\f101";
}
.icon-twitter:before {
    content: "\f102";
}
