@import '../../styles/theme/mixins';

.socials {
  a {
    display: flex;
    margin: 0 25px;

    @include mobile {
      margin: 0 15px;
    }

    &:first-of-type {
      margin-left: 0;
    }

    &:last-of-type {
      margin-right: 0;
    }
  }

  &__icon {
    fill: var(--accent);
  }

  &__header {
    @include tablet {
      display: none;
    }
  }
}