@import '../../styles/theme/breakpoints';
@import '../../styles/theme/colors';

.Navigation {
    ul {
        display: flex;
        list-style: none;
        margin: 0;

        @media (max-width: $tb_bp) {
            flex-direction: column;
        }

        li {
            padding: 0 30px;

            @media (max-width: $dt_bp) {
                padding: 0 20px;
            }


            @media (max-width: $tb_bp) {
                padding: 7px 0;
            }

            a {
                font-weight: normal;
            }

            &:first-child {
                padding-left: 0;
            }

            &:last-child {
                padding-right: 0;
            }
        }
    }
}